@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&family=Roboto:wght@300&display=swap');
$accent_color:#22B573;
$main_color: #fff;
$offer_color: #E7E7E7;



$main_font: 'Raleway', sans-serif;
$benefits_font:'Roboto', sans-serif;
$title_font:'Playfair Display', serif;

// #82EEB0
// #2FD98D