@import '../base/vars.scss';
%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin text($color,$fz,$fw,$ff, $lh){
    color: $color;
    font-size: $fz;
    font-weight: $fw;
    font-family: $ff;
    line-height: $lh;
}
.price_lists{
 width: 1920px;
 background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-left: 85px;
}
.photolineFr{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    
}
.mini{
    width:500px;
    margin-top: 80px;
}
.pricetop{
    width: 640px;
    margin-top:80px;
    margin-left: 40px;
    margin-right: 40px;
}
.end{
    margin-left: 180px;
}
.pricebottom{
    margin-bottom: 80px;
}